In [13]:
import requests
import numpy as np
import pandas as pd
import datetime

In [2]:
url = 'https://api-prod.sprtactn.co/web/v1/scoreboard/nba?bookIds=1,5,24,39,42,70'

In [3]:
r = requests.get(url)

In [7]:
json = r.json()

In [9]:
games = json['games']

In [23]:
game = games[0]

In [39]:
game['start_time']

'2018-01-23T03:30:00.000Z'

In [29]:
id_to_team = dict()
team_to_id = dict()

In [11]:
odds = games[0]['odds']

In [40]:
df = dict(home_ml=[], away_ml=[], book_id=[], line_dt=[], home_id=[], away_id=[], game_id=[], game_date=[])

In [41]:
for game in games:
    teams = game['teams']
    for team in teams:
        id_to_team[team['id']] = team['display_name']
        team_to_id[team['display_name']] = team['id']
    odds = game['odds']
    for odd in odds:
        df['home_ml'].append(odd['ml_home'])
        df['away_ml'].append(odd['ml_away'])
        df['book_id'].append(odd['book_id'])
        df['line_dt'].append(odd['inserted'])
        df['home_id'].append(game['home_team_id'])
        df['away_id'].append(game['away_team_id'])
        df['game_id'].append(game['id'])
        df['game_date'].append(game['start_time'])

In [42]:
df = pd.DataFrame(df)

In [44]:
df.dropna().tail()

,away_id,away_ml,book_id,game_date,game_id,home_id,home_ml,line_dt
165,171,110.0,24,2018-01-23T03:30:00.000Z,34224,184,-140.0,2018-01-22T21:16:38.312+00:00
166,171,-130.0,30,2018-01-23T03:30:00.000Z,34224,184,110.0,2018-01-22T21:05:51.102+00:00
167,171,120.0,39,2018-01-23T03:30:00.000Z,34224,184,-140.0,2018-01-22T22:01:39.118+00:00
169,171,120.0,42,2018-01-23T03:30:00.000Z,34224,184,-140.0,2018-01-22T22:01:39.118+00:00
170,171,110.0,42,2018-01-23T03:30:00.000Z,34224,184,-130.0,2018-01-22T21:16:38.312+00:00